extends layout

block scripts
    script(type='text/javascript', src='/javascripts/poll_show.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')

block content
    #pollshow(data-role='page')
        div(data-theme='a', data-role='header')
            h3#header= "Voted: " + poll.name
        h3= poll.description
        div(data-role='content')
            ul(data-role='listview', data-divider-theme='b', data-inset='true')
                li(data-role='list-divider', role='heading')
                    | Poll Options
                li#button1(data-theme='c')
                    button
                        | Option #{poll.polloptions[0].name}:
                        span#bc1 #{" " + poll.polloptions[0].votes + " "}
                        | votes
                li#button2(data-theme='c')
                    button
                        | Option #{poll.polloptions[1].name}:
                        span#bc2 #{" " + poll.polloptions[1].votes + " "}
                        | votes
        #qrcontainer(data-theme='a', data-role="fieldcontain")
            #qrcode
        #hdata(pid=poll._id)


